# === Python backend ===
.venv/
venv/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.env
.env.*
.cache/
dist/
build/

# Subcarpeta backend
drowsy-backend/.venv/

# === Logs / OS ===
*.log
.DS_Store
Thumbs.db

# === Flutter/Dart ===
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Builds
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
android/.gradle/
android/local.properties
android/app/release/

# IDE
.idea/
.vscode/
